.container-fluid {
  box-shadow: 0px 0px 10px rgb(196, 187, 187);
}
.nav {
  justify-content: center;
}
.nav-link {
  margin: 3px;
  color: rgb(98, 15, 15);
  font-size: 20px;
}
.nav-link:hover {
  background-color: brown;
  color: white;
}
.icons {
  margin-top: 10px;
}
i {
  margin: 8px;
}
.home {
  margin-top: 3px;

  height: 490px;
}
.header {
  margin: 0px;
  width: 500px;
  margin-left: 80px;
  margin-top: 10px;
}
.product {
  margin-top: 20px;
}
.para {
  margin: 0 auto;
  width: fit-content;

  margin-left: 50px;
}
.home-img {
  margin-right: 20px;
  padding: 0px;
  margin: 0px;
}

.box {
  box-shadow: 0px 0px 10px rgb(98, 15, 15);
  border-radius: 15px;
  position: relative;
}
.img {
  margin-left: 20px;
}
.center {
  text-align: center;
}
.shape {
  width: 270px;
  height: 270px;
}

.abc {
  box-shadow: 0px 0px 10px rgb(98, 15, 15);
  width: 100px;
  height: 80px;
  padding: 10px;
  margin: 3px;
}
.reuse {
  margin-top: 10px;
  margin-left: 10px;
}
.login {
  margin-top: 60px;

  text-align: center;
}
label,
input {
  font-size: 35px;
}
input {
  border-radius: 20px;
  background-color: rgb(233, 223, 243);
  border-style: none;
}
#but {
  font-size: 30px;
  width: 200px;
  height: 70px;
  margin-left: 100px;
  border-radius: 20px;
  background-color: rgb(129, 227, 129);
}
.login-img {
  margin-left: 60px;
}
.footer {
  background-color: rgb(193, 178, 178);
}
.list {
  font-size: 12px;
}
li {
  list-style-type: none;
}
.align {
  text-align: center;
}
span {
  font-family: sans-serif;
  font-size: 14px;
}

#face {
  border-radius: 50%;
  margin-left: 5px;
}
#border {
  box-shadow: 0px 0px 10px rgb(98, 15, 15);
  margin: 5px;
  padding: 0px;
  border-radius: 20px;
}
.container {
  max-width: 1100px;
  text-align: center;
}
.reviews {
  margin-top: 70px;
}
.about {
  margin-top: 40px;
}
html {
  scroll-behavior: smooth;
}
button {
  border-style: none;
}

.animated-box {
  position: absolute;
  right: 0;
  animation: moveToCenter 2s forwards;
}

@keyframes moveToCenter {
  0% {
    right: 0;
  }
  100% {
    right: 10%;
    transform: translateX(10%);
  }
}
.star-rating {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  font-size: 0;
}

.star-rating::before {
  content: "★★★★★";
  font-size: 20px;
  color: gold;
}
.star-half {
  font-size: 20px;
  color: gold;
}

.star-half span.empty {
  color: lightgray;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 30px;
  font-weight: bold;
}

.box:hover .center {
  opacity: 0;
}

.box:hover .overlay {
  opacity: 1;
}
.sign {
  width: 300px;
  height: 50px;
  margin-left: 260px;
  margin-top: 10px;
}
#s {
  font-size: 30px;
}
#des {
  position: absolute;
  right: 0;
  animation: moveToCenter 2s forwards;
  animation-delay: 2.5s;
}

@keyframes moveToCenter {
  0% {
    right: 0;
  }
  100% {
    right: 10%;
    transform: translateX(10%);
  }
}
